section.main {
  display: flex;
}
div.aside {
  flex: 1;
  padding: 1rem;
  &:nth-of-type(1) {
    border-right: 1px solid #ddd;
  }
}

form.date {
  display: flex;
  flex-direction: column;
  flex: 1;
  div.date_box {
    display: flex;
  }
  input {
    width: 100%;
    padding: 5px;
    margin: 0 3px;
    &:nth-of-type(1) {
      margin-left: 0;
    }
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

ul {
  list-style: none;
  li {
    box-shadow: 2px 2px 2px 2px #ddd, 2px 2px 2px 2px #aaa;
    margin: 10px 0;
    padding: 8px;
    display: flex;
    justify-content: left;
    align-items: center;

    img {
      margin: 3px 3px;
    }
    &:hover {
      background-color: #eee;
      cursor: pointer;
    }
  }
}

form.input {
  display: flex;
  flex-direction: column;
  input {
    width: 100%;
    padding: 5px;
    margin: 3px 0;
  }
}
