* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

header {
  background-color: #d6dd94;
  padding: 2rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
}
header p {
  font-size: 1.2rem;
  margin: 10px;
  font-weight: 700;
  text-align: center;
}
nav ul {
  display: flex;
  list-style: none;
  background-color: #bcc477;
}

nav li {
  padding: 8px;
  margin: 5px;
  color: white;
  transition: 0.5s;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

nav li:hover {
  border-bottom: 2px solid white;
}

nav li:nth-of-type(4) {
  margin-left: auto;
}
nav li:nth-of-type(5) {
  margin-left: auto;
}

section {
  display: flex;
  flex-direction: column;
  height: 60%;
  align-items: center;
  border: 1px solid rgb(71, 71, 31);
}

section p {
  font-size: 1.5rem;
  margin: 2rem;
  font-weight: 700;
  text-align: center;
}

section div.login {
  border: 1px solid #c4c4c4;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  text-align: right;
}

label {
  width: 30%;
  padding-right: 5px;
  color: black;
  padding: 8px;
}

input {
  width: 60%;
  padding: 8px;
  margin: 5px;
  outline: none;
  border: 1px solid #b6bd77;
  border-radius: 10px;
}

input:focus {
  border: 1px solid #e3eba1;
}
section div.btn {
  text-align: center;
}
section button {
  padding: 0.5rem;
  background-color: #b6bd77;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

section button:hover {
  background-color: #c4c4c4;
}

footer {
  background-color: #eee;
  padding: 15px;
  text-align: center;
  font-weight: 400;
}
